.share-section {
    margin-top: 8px;
    text-align: center;
}

.instagram-share {
    background-color: #e4405f; /* Instagram pink color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.instagram-share:hover {
    background-color: #cc3364; /* Slightly darker shade on hover */
}

.share-section {
    display: flex;
    margin: 12px 20px;
    text-align: center;
    justify-content: center;
}

.share-section h3 {
    font-size: 1em;
    margin-bottom: 10px;
    color: #202124;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.icon {
    font-size: 2em;
    cursor: pointer;
    transition: transform 0.2s ease, color 0.2s ease;
}

.icon:hover {
    transform: scale(1.2);
}

.icon.instagram {
    color: #e4405f; /* Instagram color */
}

.icon.facebook {
    color: #3b5998; /* Facebook color */
}

.icon.twitter {
    color: #1da1f2; /* Twitter color */
}
