html {
    height: auto;
    overflow-y: auto;
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #202124;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1, h2, h3 {
    font-weight: 500;
    margin: 10px 0;
}

h1 {
    font-size: 2em;
}

input, button {
    margin: 10px;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #dadce0;
    border-radius: 4px;
    outline: none;
}

input:focus {
    border-color: #4285f4;
    box-shadow: 0 1px 6px rgba(66, 133, 244, 0.3);
}

button {
    background-color: #4285f4;
    color: #fff;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #357ae8;
}

button:active {
    background-color: #2a65c7;
}

.main-container {
    margin: 16px;
}

.container {
    margin-top: 100px;
    max-width: 800px;
    width: 100%;
}

iframe {
    width: 80%;
    max-width: 560px;
    height: 315px;
    margin: 20px 0;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 1.5em;
    }

    input {
        width: 100%;
        margin: 10px 0;
    }

    button {
        margin: 8px;
    }

    iframe {
        width: 100%;
    }
}

.text-section {
    background-color: #f9f9f9; /* Light background for emphasis */
    padding: 20px 12px; /* Add spacing around the text */
    margin: 20px auto; /* Center and add vertical spacing */
    border-radius: 8px; /* Rounded corners for a modern look */
    max-width: 800px; /* Restrict width for better readability */
    text-align: center; /* Center-align the text */
}

.text-section h2, .text-section h3 {
    margin: 10px 0; /* Add consistent spacing between lines */
}

.text-section h2 {
    font-size: 1.8em; /* Slightly larger font size for h2 */
    color: #333; /* Darker text for better visibility */
    font-weight: bold; /* Emphasize h2 */
}

.text-section h3 {
    font-size: 1.4em; /* Slightly smaller font size for h3 */
    color: #555; /* Lighter text for differentiation */
    line-height: 1.6; /* Increase line height for readability */
}

.text-section h4 {
    font-size: 1.2em; /* Slightly smaller font size for h3 */
    color: #555; /* Lighter text for differentiation */
    line-height: 1.6; /* Increase line height for readability */
    font-weight: bold;
}

.twitter-hashtag {
    color: #1da1f2; /* Twitter blue color */
    font-weight: bold; /* Make it stand out */
    text-decoration: none; /* Remove underline */
    transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.twitter-hashtag:hover {
    text-decoration: underline; /* Add underline on hover */
    color: #0c85d0; /* Slightly darker shade of blue */
}

.twitter-tweet-container {
    display: flex;
    justify-content: center;
}



